In [25]:
import pandas as pd                   # for loading data frame

In [3]:
import numpy as np                       #for storing the data in  array and matrix form

In [4]:
from sklearn import tree                   # sklearn used for machine larning algoritm and imported tree as function

In [5]:
from sklearn import preprocessing      # preprocesing used to convert text into numerical and any missing value.

In [6]:
titanic_train=pd.read_csv("train.csv")
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
titanic_train['Age'].mean()

32.69985376827896

In [8]:
new_age_var=np.where(titanic_train['Age'].isnull(),32,titanic_train['Age'])

In [9]:
titanic_train['Age']=new_age_var

In [10]:
label_encoder=preprocessing.LabelEncoder()               #labelencoder is used to convert text into 0 and 1.

In [11]:
titanic_train["Sex"]=label_encoder.fit_transform(titanic_train["Sex"])

In [12]:
tree_model=tree.DecisionTreeClassifier()

In [13]:
predictors=pd.DataFrame([titanic_train["Sex"],titanic_train["Age"],titanic_train["Fare"]]).T

In [14]:
tree_model.fit(X=predictors,y=titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [15]:
with open("Dtree1.dot",'w') as f:
    f= tree.export_graphviz(tree_model,feature_names=['Sex','Age','Fare'],out_file=f)

In [16]:
from sklearn.tree import export_text
r=export_text(tree_model,feature_names=['Sex','Age','Fare'])
print(r)

|--- Sex <= 0.50
|   |--- Fare <= 48.20
|   |   |--- Fare <= 27.82
|   |   |   |--- Fare <= 25.70
|   |   |   |   |--- Fare <= 24.07
|   |   |   |   |   |--- Fare <= 10.48
|   |   |   |   |   |   |--- Fare <= 8.04
|   |   |   |   |   |   |   |--- Fare <= 6.99
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Fare >  6.99
|   |   |   |   |   |   |   |   |--- Fare <= 7.52
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- Fare >  7.52
|   |   |   |   |   |   |   |   |   |--- Age <= 14.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- Age >  14.50
|   |   |   |   |   |   |   |   |   |   |--- Age <= 17.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- Age >  17.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 11
|   |   |   |   |   |   |--- Fare >  8.04
|   |   |   |   |   |   |   |--- Age <= 19.00
|   |   |   |   |   |   |   |   |--- Fare <= 10.15
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- Fare >  10.15
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  19.00
|   |   |   |   |   |   |   |   |--- Age <= 54.00
|   |   |   |   |   |   |   |   |   |--- Age <= 30.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- Age >  30.50
|   |   |   |   |   |   |   |   |   |   |--- Age <= 34.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- Age >  34.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- Age >  54.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- Fare >  10.48
|   |   |   |   |   |   |--- Fare <= 14.13
|   |   |   |   |   |   |   |--- Age <= 53.50
|   |   |   |   |   |   |   |   |--- Age <= 25.50
|   |   |   |   |   |   |   |   |   |--- Age <= 21.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Age >  21.50
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 11.76
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Fare >  11.76
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |--- Age >  25.50
|   |   |   |   |   |   |   |   |   |--- Age <= 37.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Age >  37.00
|   |   |   |   |   |   |   |   |   |   |--- Age <= 39.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Age >  39.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Age >  53.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Fare >  14.13
|   |   |   |   |   |   |   |--- Fare <= 15.37
|   |   |   |   |   |   |   |   |--- Age <= 37.00
|   |   |   |   |   |   |   |   |   |--- Age <= 28.50
|   |   |   |   |   |   |   |   |   |   |--- Age <= 14.75
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Age >  14.75
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |--- Age >  28.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- Age >  37.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Fare >  15.37
|   |   |   |   |   |   |   |   |--- Age <= 32.50
|   |   |   |   |   |   |   |   |   |--- Age <= 25.00
|   |   |   |   |   |   |   |   |   |   |--- Age <= 21.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |   |--- Age >  21.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Age >  25.00
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 19.26
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Fare >  19.26
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |--- Age >  32.50
|   |   |   |   |   |   |   |   |   |--- Fare <= 23.35
|   |   |   |   |   |   |   |   |   |   |--- Age <= 43.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- Age >  43.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Fare >  23.35
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Fare >  24.07
|   |   |   |   |   |--- Fare <= 24.81
|   |   |   |   |   |   |--- Age <= 37.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Age >  37.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- Fare >  24.81
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- Fare >  25.70
|   |   |   |   |--- Age <= 25.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- Age >  25.50
|   |   |   |   |   |--- Age <= 27.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  27.00
|   |   |   |   |   |   |--- Age <= 43.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Age >  43.00
|   |   |   |   |   |   |   |--- Age <= 44.50
|   |   |   |   |   |   |   |   |--- Fare <= 26.86
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- Fare >  26.86
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Age >  44.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |--- Fare >  27.82
|   |   |   |--- Fare <= 28.86
|   |   |   |   |--- class: 0
|   |   |   |--- Fare >  28.86
|   |   |   |   |--- Fare <= 44.24
|   |   |   |   |   |--- Fare <= 36.69
|   |   |   |   |   |   |--- Fare <= 33.69
|   |   |   |   |   |   |   |--- Fare <= 31.33
|   |   |   |   |   |   |   |   |--- Fare <= 31.14
|   |   |   |   |   |   |   |   |   |--- Age <= 34.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Age >  34.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- Fare >  31.14
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Fare >  31.33
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Fare >  33.69
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Fare >  36.69
|   |   |   |   |   |   |--- Age <= 40.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Age >  40.50
|   |   |   |   |   |   |   |--- Fare <= 39.64
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Fare >  39.64
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Fare >  44.24
|   |   |   |   |   |--- class: 0
|   |--- Fare >  48.20
|   |   |--- Age <= 8.00
|   |   |   |--- class: 0
|   |   |--- Age >  8.00
|   |   |   |--- Fare <= 70.28
|   |   |   |   |--- Fare <= 69.43
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- Fare >  69.43
|   |   |   |   |   |--- class: 0
|   |   |   |--- Fare >  70.28
|   |   |   |   |--- Age <= 25.50
|   |   |   |   |   |--- Age <= 24.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- Age >  24.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Age >  25.50
|   |   |   |   |   |--- class: 1
|--- Sex >  0.50
|   |--- Age <= 6.50
|   |   |--- Fare <= 20.83
|   |   |   |--- class: 1
|   |   |--- Fare >  20.83
|   |   |   |--- Age <= 0.96
|   |   |   |   |--- class: 1
|   |   |   |--- Age >  0.96
|   |   |   |   |--- Fare <= 64.38
|   |   |   |   |   |--- Age <= 3.50
|   |   |   |   |   |   |--- Fare <= 39.34
|   |   |   |   |   |   |   |--- Fare <= 23.54
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Fare >  23.54
|   |   |   |   |   |   |   |   |--- Fare <= 30.26
|   |   |   |   |   |   |   |   |   |--- Fare <= 27.56
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Fare >  27.56
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- Fare >  30.26
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Fare >  39.34
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  3.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Fare >  64.38
|   |   |   |   |   |--- class: 1
|   |--- Age >  6.50
|   |   |--- Fare <= 26.27
|   |   |   |--- Age <= 13.50
|   |   |   |   |--- Age <= 10.00
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- Age >  10.00
|   |   |   |   |   |--- Age <= 11.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  11.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |--- Age >  13.50
|   |   |   |   |--- Age <= 32.50
|   |   |   |   |   |--- Age <= 30.75
|   |   |   |   |   |   |--- Fare <= 2.01
|   |   |   |   |   |   |   |--- Age <= 22.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  22.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Fare >  2.01
|   |   |   |   |   |   |   |--- Fare <= 11.00
|   |   |   |   |   |   |   |   |--- Age <= 26.50
|   |   |   |   |   |   |   |   |   |--- Age <= 20.25
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 7.91
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |   |--- Fare >  7.91
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 5
|   |   |   |   |   |   |   |   |   |--- Age >  20.25
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 7.23
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- Fare >  7.23
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 6
|   |   |   |   |   |   |   |   |--- Age >  26.50
|   |   |   |   |   |   |   |   |   |--- Age <= 27.50
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 7.85
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- Fare >  7.85
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |--- Age >  27.50
|   |   |   |   |   |   |   |   |   |   |--- Age <= 28.75
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Age >  28.75
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 7
|   |   |   |   |   |   |   |--- Fare >  11.00
|   |   |   |   |   |   |   |   |--- Fare <= 15.39
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- Fare >  15.39
|   |   |   |   |   |   |   |   |   |--- Fare <= 15.80
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Fare >  15.80
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 19.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- Fare >  19.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  30.75
|   |   |   |   |   |   |--- Fare <= 7.81
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Fare >  7.81
|   |   |   |   |   |   |   |--- Fare <= 7.88
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Fare >  7.88
|   |   |   |   |   |   |   |   |--- Fare <= 7.91
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- Fare >  7.91
|   |   |   |   |   |   |   |   |   |--- Fare <= 8.21
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 7.99
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- Fare >  7.99
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Fare >  8.21
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 11.75
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Fare >  11.75
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |--- Age >  32.50
|   |   |   |   |   |--- Fare <= 7.91
|   |   |   |   |   |   |--- Fare <= 7.23
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Fare >  7.23
|   |   |   |   |   |   |   |--- Fare <= 7.24
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Fare >  7.24
|   |   |   |   |   |   |   |   |--- Fare <= 7.80
|   |   |   |   |   |   |   |   |   |--- Fare <= 7.76
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 7.74
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Fare >  7.74
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |--- Fare >  7.76
|   |   |   |   |   |   |   |   |   |   |--- Age <= 39.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Age >  39.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |--- Fare >  7.80
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Fare >  7.91
|   |   |   |   |   |   |--- Fare <= 7.99
|   |   |   |   |   |   |   |--- Age <= 38.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  38.00
|   |   |   |   |   |   |   |   |--- Age <= 41.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- Age >  41.50
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Fare >  7.99
|   |   |   |   |   |   |   |--- Fare <= 23.35
|   |   |   |   |   |   |   |   |--- Fare <= 22.46
|   |   |   |   |   |   |   |   |   |--- Age <= 41.50
|   |   |   |   |   |   |   |   |   |   |--- Age <= 34.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- Age >  34.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- Age >  41.50
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 10.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 5
|   |   |   |   |   |   |   |   |   |   |--- Fare >  10.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 7
|   |   |   |   |   |   |   |   |--- Fare >  22.46
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Fare >  23.35
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |--- Fare >  26.27
|   |   |   |--- Fare <= 26.47
|   |   |   |   |--- class: 1
|   |   |   |--- Fare >  26.47
|   |   |   |   |--- Fare <= 387.66
|   |   |   |   |   |--- Age <= 22.50
|   |   |   |   |   |   |--- Fare <= 109.89
|   |   |   |   |   |   |   |--- Age <= 8.50
|   |   |   |   |   |   |   |   |--- Age <= 7.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- Age >  7.50
|   |   |   |   |   |   |   |   |   |--- Fare <= 32.94
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- Fare >  32.94
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Age >  8.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Fare >  109.89
|   |   |   |   |   |   |   |--- Age <= 18.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Age >  18.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  22.50
|   |   |   |   |   |   |--- Age <= 27.50
|   |   |   |   |   |   |   |--- Fare <= 151.29
|   |   |   |   |   |   |   |   |--- Age <= 25.50
|   |   |   |   |   |   |   |   |   |--- Age <= 23.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Age >  23.50
|   |   |   |   |   |   |   |   |   |   |--- Age <= 24.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Age >  24.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |--- Age >  25.50
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Fare >  151.29
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Age >  27.50
|   |   |   |   |   |   |   |--- Age <= 53.00
|   |   |   |   |   |   |   |   |--- Fare <= 26.77
|   |   |   |   |   |   |   |   |   |--- Age <= 40.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Age >  40.00
|   |   |   |   |   |   |   |   |   |   |--- Age <= 46.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Age >  46.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- Fare >  26.77
|   |   |   |   |   |   |   |   |   |--- Fare <= 29.10
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- Fare >  29.10
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 30.60
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |   |--- Fare >  30.60
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 8
|   |   |   |   |   |   |   |--- Age >  53.00
|   |   |   |   |   |   |   |   |--- Age <= 75.50
|   |   |   |   |   |   |   |   |   |--- Fare <= 35.08
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- Fare >  35.08
|   |   |   |   |   |   |   |   |   |   |--- Fare <= 37.25
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- Fare >  37.25
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |--- Age >  75.50
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- Fare >  387.66
|   |   |   |   |   |--- class: 1

In [17]:
test=pd.read_csv("test.csv")
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S

In [18]:
test['Age'].mean()

33.23741007194245

In [20]:
new_age_var=np.where(test["Age"].isnull(),33,test["Age"])
test['Age']=new_age_var

In [22]:
test["Sex"]=label_encoder.fit_transform(test["Sex"])
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,Q
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,S

In [23]:
test_features=pd.DataFrame([test["Sex"],test["Age"],test["Fare"]]).T
test_preds=tree_model.predict(X=test_features)
predicted_output=pd.DataFrame({"PassengerId":test["PassengerId"],"Survived":test_preds})
predicted_output.to_csv("Output.csv",index=False)

In [24]:
Output=pd.read_csv("Output.csv")
Output.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         1
4          896         1